@import "_media";

body {
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: geometricPrecision;
  line-height: 1.5;
}

h1, h2, h3 {
  font-weight: 300;
  &.no-margin {
    margin: 0 0 0 0;
  }
  &.no-top-margin {
    margin-top: 0;
  }
}
h3 {
  font-size: 22px;
}

.fa {
  font-size: 30px;
  color: white;
}

h2 {
  font-size: 36px;
  margin: 0 0 16px;
}

p {
  margin: 0 0 16px;
  padding: 0 12%;
  @include break{
    padding: 0;
  }
}

blockquote {
  font-style: italic;
  &:before {
    content: '"';
  }
  &:after {
    content: '"';
  }
  @include break {
    margin: 0;
  }
}