<h2>The Resume</h2>
<div class="resume-format">
    <blockquote>Nick has serious technical strength and a mind born for programming.</blockquote>
    <aside>--Joe Alves</aside>
    <h2>Technical Skills</h2>
        <h3>Proficient</h3>
            <ul class="horz-list">
                <li>JavaScript (ES 5.1, ES6),</li>
                <li>Angular.js,</li>
                <li>CSS (SCSS/Sass),</li>
                <li>jQuery,</li>
                <li>HTML5,</li>
                <li>Express.js,</li>
                <li>Node.js,</li>
                <li>MongoDB/Mongoose.js,</li>
                <li>GitHub</li>
            </ul>
        <h3>Knowledgeable</h3>
            <ul class="horz-list">
                <li>Socket.io</li>
                <li>Gulp/Grunt build processes</li>
                <li>Mocha/Chai Testing</li>
                <li>MVC</li>
            </ul>
    <h2>Work History</h2>
        <div><h3>myFin</h3> - Full stack engineer</div>
</div>